
#landing-page{
  width: 100%;
  position: relative;
  min-height: 450px;
  background: #161415 url(../img/backgrounds/hero.jpg) no-repeat top center;
  background-size: cover;
  border-radius: 0;
  color: #fff;
}
.logo{
  position: absolute;
  top: 7%;
}
.shop{
  position: absolute;
  right: 0;
  top: 7%;
}
.shop a{
  margin-left: 20px;
  color: #fff;
}
.mouse-click{
  position: absolute;
  bottom: 2%;
  left: 50%;
}
.banner{
  position: absolute;
  top:  40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}
.banner h1{
  margin-bottom: 3%;
}
